<div class="cart-container">
  <h1>Cart</h1>
  
  <div class="cart-content">
    <div class="cart-items" *ngIf="items.length > 0; else emptyCart">
      <app-cart-item
        *ngFor="let item of items"
        [item]="item"
        (updateQuantity)="onUpdateQuantity($event)"
        (removeItem)="onRemoveItem($event)"
      ></app-cart-item>
    </div>

    <ng-template #emptyCart>
      <div class="empty-cart">
        <p>Your cart is empty</p>
        <a routerLink="/shop" class="continue-shopping">Continue Shopping</a>
      </div>
    </ng-template>

    <div class="cart-summary" *ngIf="items.length > 0">
      <div class="total">
        <span>Total:</span>
        <span>${{ total | number:'1.2-2' }}</span>
      </div>
      <button class="checkout-button" routerLink="/checkout">
        Proceed to Checkout
      </button>
    </div>
  </div>
</div> 