<button
  type="button"
  id="sidebarCollapse"
  class="btn btn-outline-light d-md-none position-fixed top-0 start-0 m-3 z-index-top"
  (click)="toggleSidebar()"
>
  <i class="bi bi-list"></i>
</button>

<nav id="sidebar" class="sidebar bg-dark text-white" [class.active]="isOpen">
  <div class="sidebar-header">
    <h3 class="text-center py-3">Panel Administrador</h3>
  </div>

  <ul class="list-unstyled components">
    <li>
      <a
        routerLink="/admin/dashboard"
        routerLinkActive="active"
        class="sidebar-link"
        (click)="hideSidebarOnMobile()" >
        <i class="bi bi-speedometer2"></i> Panel de Control
      </a>
    </li>
    <li>
      <a
        routerLink="/admin/products"
        routerLinkActive="active"
        class="sidebar-link"
        (click)="hideSidebarOnMobile()" >
        <i class="bi bi-box-seam"></i> Productos
      </a>
    </li>
    <li>
      <a
        routerLink="/admin/orders"
        routerLinkActive="active"
        class="sidebar-link"
        (click)="hideSidebarOnMobile()" >
        <i class="bi bi-cart"></i> Pedidos
      </a>
    </li>
    <li>
      <a
        routerLink="/admin/customers"
        routerLinkActive="active"
        class="sidebar-link"
        (click)="hideSidebarOnMobile()" >
        <i class="bi bi-people"></i> Clientes
      </a>
    </li>
  </ul>
</nav>
