<header class="admin-header">
  <div class="d-flex align-items-center">
    <button class="menu-toggle" (click)="onToggleSidebar($event)">
      <i class="bi bi-list"></i>
    </button>
    <span class="welcome-message">Bienvenido</span>
  </div>

  <div class="user-info">
    <button class="user-dropdown-toggle" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
      <span class="user-name">{{ userName }}</span>
      <i class="bi bi-person-circle user-icon"></i>
      </button>

    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
      <li><a class="dropdown-item" routerLink="/admin/account">Perfil</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
    </ul>
  </div>
</header>
