<nav id="sidebar" class="sidebar bg-dark text-white">
  <div class="sidebar-header">
    <h3 class="text-center py-3">Panel Administrador</h3>
    <button class="menu-toggle-close" (click)="onLinkClick()">
      <i class="bi bi-x-lg"></i>
    </button>
  </div>

  <ul class="list-unstyled components">
    <li>
      <a
        routerLink="/admin/dashboard"
        routerLinkActive="active"
        class="sidebar-link"
        (click)="onLinkClick()"
      >
        <i class="bi bi-speedometer2"></i> Panel de Control
      </a>
    </li>
    <li>
      <a
        routerLink="/admin/products"
        routerLinkActive="active"
        class="sidebar-link"
        (click)="onLinkClick()"
      >
        <i class="bi bi-box-seam"></i> Productos
      </a>
    </li>

    <li>
      <a
        routerLink="/admin/categories"
        routerLinkActive="active"
        class="sidebar-link"
        (click)="onLinkClick()"
      >
        <i class="bi bi-tags"></i> Categorías
      </a>
    </li>
    <li>
      <a
        routerLink="/admin/orders"
        routerLinkActive="active"
        class="sidebar-link"
        (click)="onLinkClick()"
      >
        <i class="bi bi-cart"></i> Pedidos
      </a>
    </li>
    <li>
      <a
        routerLink="/admin/customers"
        routerLinkActive="active"
        class="sidebar-link"
        (click)="onLinkClick()"
      >
        <i class="bi bi-people"></i> Clientes
      </a>
    </li>
  </ul>
</nav>
