<div class="container d-flex align-items-center justify-content-center min-vh-100">
  <div class="card shadow p-4" style="max-width: 400px; width: 100%;">
    <h2 class="mb-4 text-center">Iniciar sesión</h2>

    <div *ngIf="authErrorMessage" class="alert alert-warning">
      {{ authErrorMessage }}
    </div>

    <div *ngIf="isAlreadyLogged" class="alert alert-info">
      Ya estás logueado. <a href="#" (click)="logout()">Cerrar sesión</a> para iniciar con otra cuenta.
    </div>

    <form *ngIf="!isAlreadyLogged" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input class="form-control" type="email" formControlName="email" required />
      </div>

      <div class="mb-3">
        <label class="form-label">Contraseña</label>
        <input class="form-control" type="password" formControlName="password" required />
      </div>

      <button class="btn btn-primary w-100" [disabled]="loginForm.invalid">Ingresar</button>
    </form>
  </div>
</div>