<div class="dashboard-container">
  <app-sidebar></app-sidebar>

  <div class="main-content-wrapper">
    <app-header></app-header>

    <!-- Aquí es donde se renderizarán los componentes de tus rutas hijas.
         router-outlet mostrará LoginComponent si la ruta es /admin/login,
         o DashboardComponent/ProductsListComponent/ProductDetailComponent
         si la ruta es /admin/dashboard, /admin/products, etc.
    -->
    <div class="main-content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
