<nav id="sidebar" class="sidebar bg-dark text-white">
  <div class="sidebar-header">
    <h3 class="text-center py-3">Panel Administrador</h3>
  </div>

  <ul class="list-unstyled components">
    <li>
      <a routerLink="/dashboard" routerLinkActive="active" class="sidebar-link">
        <i class="bi bi-speedometer2"></i> Panel de Control
      </a>
    </li>
    <li>
      <a routerLink="/products" routerLinkActive="active" class="sidebar-link">
        <i class="bi bi-box-seam"></i> Productos
      </a>
    </li>
    <li>
      <a routerLink="/orders" routerLinkActive="active" class="sidebar-link">
        <i class="bi bi-cart"></i> Pedidos
      </a>
    </li>
    <li>
      <a routerLink="/customers" routerLinkActive="active" class="sidebar-link">
        <i class="bi bi-people"></i> Clientes
      </a>
    </li>
  </ul>
</nav>
