
$sidebar-width: 250px;
$sidebar-bg: #343a40;
$sidebar-link-color: #dee2e6;
$sidebar-link-hover-bg: #495057;
$sidebar-active-bg: #0d6efd;
$sidebar-active-color: #fff;

.z-index-top {
  z-index: 1050;
}
.sidebar {
  width: $sidebar-width;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1000;
  background-color: $sidebar-bg;
  padding-top: 1rem;
  transition: all 0.3s ease-in-out;

  .sidebar-header {
    padding: 20px;
    background: darken($sidebar-bg, 5%);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .components {
    padding: 20px 0;
    list-style: none;

  .sidebar-link {
    padding: 10px 20px;
    font-size: 1.1em;
    display: block;
    color: $sidebar-link-color;
    text-decoration: none;
    transition: all 0.3s;

    &:hover {
      background: $sidebar-link-hover-bg;
      color: $sidebar-active-color;
      text-decoration: none;
    }

    &.active {
      background: $sidebar-active-bg;
      color: $sidebar-active-color;
      font-weight: bold;
    }

    i {
      margin-right: 10px;
      font-size: 1.2em;
    }
  }

}

}

@media (max-width: 767.98px) {
  .sidebar {
    left: -$sidebar-width; // Oculta el sidebar por completo fuera de la pantalla
  }

  .sidebar.active {
    left: 0; // Muestra el sidebar deslizándolo hacia la pantalla
  }
}

// Media Query para pantallas grandes (768px o más)
@media (min-width: 768px) {
  .sidebar {
    left: 0; // Asegura que el sidebar siempre esté visible en desktop
  }
  // Oculta el botón de hamburguesa en pantallas grandes
  #sidebarCollapse {
    display: none !important; // Usa !important para anular cualquier estilo de Bootstrap
  }
}
